@model IEnumerable<HeThongQuanLyPhongTro.Models.CoSoVatChat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenThietBi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThietBi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhongNavigation.MaPhong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaCsvc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaCsvc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaCsvc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
