@model IEnumerable<HeThongQuanLyPhongTro.Models.BaiDang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhongNavigation.MaPhong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaBaiDang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaBaiDang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaBaiDang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
